# REGRESIÓN LINEAL MÚLTIPLE

## Conceptos
- Root mean squared error (RMSE): la raíz cuadrada del error cuadrático promedio de la regresión (esta es la métrica más utilizada para comparar modelos de regresión).
- Residual standard error: Igual que la raíz del error cuadrático medio, pero ajustado por grados de libertad.
- R-squared (COEFICIENTE DE DETERMINACIÓN): La proporción de varianza explicada por el modelo, de 0 a 1.
- T-statistic: El coeficiente de un predictor, dividido por el error estándar del coeficiente, lo que proporciona una métrica para comparar la importancia de las variables en el modelo.
- Weighted regression: Regresión con los registros teniendo diferentes pesos.

In [4]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv("insurance.csv")
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
# predictors = ['age', 'sex','smoker','children','bmi', 'region']
predictors = ['age','children','bmi']
outcome = 'charges'
insurance_lm = LinearRegression()
insurance_lm.fit(data[predictors],data[outcome])

LinearRegression()

In [12]:
# Intercepto
intercepto = insurance_lm.intercept_
intercepto

-6916.243347787036

In [13]:
for name, coef in zip(predictors, insurance_lm.coef_):
    print(f'{name}:{coef}')

age:239.99447429364636
children:542.8646522470178
bmi:332.0833645034481

In [14]:
insurance_lm.predict(pd.DataFrame({
    'age': [24],
    'children': [0],
    'bmi': [22.5]
}))

array([6315.49973659])

In [15]:
insurance_lm.predict(pd.DataFrame({
    'age': [24,28,25],
    'children': [0,0,0],
    'bmi': [22.5,20,25]
}))

array([6315.49973659, 6445.2692225 , 7385.70262214])