# Ejercicio

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('Walmart.csv')
data

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [5]:
predictors = ['Store','Holiday_Flag','Temperature','Fuel_Price','CPI','Unemployment']
outcome = 'Weekly_Sales'
model = LinearRegression()
model.fit(data[predictors],data[outcome])

LinearRegression()

In [6]:
intercepto = model.intercept_
intercepto

1995738.2607673644

In [7]:
for name, coef in zip(predictors, model.coef_):
    print(f'{name}:{coef}')

Store:-15388.663869075039
Holiday_Flag:73034.45592813952
Temperature:-975.401946890304
Fuel_Price:9596.073856326946
CPI:-2319.4557702998068
Unemployment:-21881.17087117623

In [11]:
model.predict(pd.DataFrame({
    'Store': [45,1],
    'Holiday_Flag': [0,1],
    'Temperature': [40,75],
    'Fuel_Price': [1,5],
    'CPI': [434,30],
    'Unemployment': [8,7]
}))

array([  92135.21136018, 1805457.40688406])

In [12]:
model.predict(pd.DataFrame({
    'Store': [1,45],
    'Holiday_Flag': [0,0],
    'Temperature': [42.31,64.88],
    'Fuel_Price': [2.572,3.997],
    'CPI': [211.09,192.01],
    'Unemployment': [8.106,8.684]
}))

array([1296778.75284949,  642945.02524792])